.boostez {
    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 5% 0px 1%;
        figure {
            img {
                width: 500px;
            }
        }
        div {
            line-height: 25px;
            h1 {
                text-transform: uppercase;
                font-size: 42px;
                font-weight: 800;
                color:#d41726;
                margin: 25px 0px;
            }
        }
    }
    section {
        header {
            display: flex;
            flex-direction: column;
            line-height: 25px;
            h1 {
                font-size: 26px;
                color: #007793;
                font-weight: 600;
                text-transform: uppercase;
                margin: 10px 0px;
            }
            h2 {
                font-size: 16px;
                text-align: center;
                span {
                    text-decoration: underline;
                }
            }
            div {
                border: 2px solid #d41726;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                cursor: pointer;
                margin: 20px 0px;
                i {
                    color: #d41726;
                }
            }
        }
        figure {
            img {
                width: 100%;
            }
        }
    }
    article {
        border-top: 10px solid #d41726;
        padding: 50px 10% 0px 10%;
        text-align: center;
        line-height: 25px;
        h1 {
            font-size: 26px;
            color: #007793;
            font-weight: 600;
            margin: 40px 0px;
        }
        p {
            margin: 0px 0px 35px 0px;
        }
        a {
            background-color: #007793;
            color: white;
            padding: 10px 45px;
            border-radius: 35px;
            text-transform: uppercase;
            font-weight: 600;
            &:hover {
                background-color: #2290a9;
                font-weight: 700;
            }
        }
    }
}

