.bannerConf {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0Px 0px 0px;
    img {
        width: 45%;
        object-fit: cover;
    }
} 
.conferences {
    padding: 0% 10%;
    section {
        header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 0px 0px 80px 0px;
            div {
                h1 {
                    font-size: 26px;
                    // color: #d41726;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin: 10px 0px;
                    font-weight: normal;
                }
                h2 {
                    font-size: 18px;
                    font-weight: normal;
                }
            }
            figure {
                img {
                    width: 235px;
                }
                .confBoostez {
                    width: 400px;
                    margin: 50px 0px 0px 0px;
                }
            }
        }
        article {
            h1 {
                text-transform: uppercase;
                font-size: 22px;
                font-weight: normal;
            }
            h2 {
                text-transform: uppercase;
                font-size: 22px;
                font-weight: normal;
            }
            h3 {
                font-size: 18px;
                font-weight: normal;
                opacity: 0.6;
            }
            section {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: start;
                margin: 15px 0px 35px 0px;
                a {
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                    color: white;
                    padding: 10px 45px;
                    border-radius: 5px;
                    text-transform: uppercase;
                    font-weight: 600;
                    width: 30%;
                    margin: 10px 15px;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
    }
    button {
        margin: 80px 0px 0px 0px;
        background: none;
        border: none;
        display: flex;
        justify-content: center;
        width: 100%;
        a {
            color: #007793;
            padding: 15px 80px;
            border-radius: 12px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 18px;
            border: 3px solid #007793;
            &:hover {
                background-color: #007793;
                color: white;
            }
        }
    }
}

.zoomConference {
    margin: 50px 0px 0px 0px;
    .retourBtn {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0% 0% 0% 5%;
        cursor: pointer;
        i {
            rotate: 90deg;
            margin: 0px 10px 0px 0px;
            font-size: 24px;
            opacity: 0.7;
        }
        h1 {
            text-transform: uppercase;
            font-size: 14px;
            font-weight: normal;
        }
    }
    header {
        h1 {
            font-size: 36px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 10px 0px;
            text-align: center;
            // color: #d41726;
        }
        h2 {
            font-size: 18px;
            text-align: center;
            // color: #d41726;
            font-weight: normal;
        }
    }
    article {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 50px 0px;
        iframe {
            width: 80%;
            height: 500px;
        }
    }
    footer {
        padding: 0% 10%;
        margin: 0px 0px 50px 0px;
        h1 {
            text-transform: uppercase;
            margin: 20px 0px;
            font-weight: normal;
        }
        ul {
            li {
                line-height: 25px;
                font-weight: normal;
            }
        }
    }
}

.ctcConf {
    display: flex;
    justify-content: center;
    margin: 35px 0px 0px 0px;
    a {
        background-color: #007793;
        color: white;
        padding: 10px 45px;
        border-radius: 35px;
        text-transform: uppercase;
        font-weight: 600;
        &:hover {
            background-color: #2290a9;
            font-weight: 700;
        }
    }
}

.business_color {
    color: #d41726;
}
.private_color {
    color: #007793;
}

// responsive start 

@media screen and (min-width: 1580px) { 
      .conferences {
        padding: 0% 15%;
      }
}

@media screen and (max-width: 1280px) { 
    .conferences section article section a {
        width: auto;
      }
  }

  @media screen and (max-width: 778px) { 
    .conferences section header figure img {
        width: 185px;
    }
    .confBoostez {
        width: 200px !important;
    }
    
}  
@media screen and (max-width: 620px) { 
    .conferences {
        padding: 0% 4%;
      }
    .conferences section header {
        margin: 40px 0px 0px 0px;
      }
    .conferences section header div h2 {
        font-size: 16px;
      }
      .conferences section header div h1 {
        font-size: 24px;
        font-weight: 600;
      }
      .conferences section header figure img {
        width: 150px;
      }
    
}
@media screen and (max-width: 480px) { 
    .conferences section header {
        flex-direction: column;
        text-align: center;
      }
      .conferences section article h1 {
        font-size: 20px;
        text-align: center;
      }
      .conferences section article section {
        justify-content: center;
      }
      .conferences section article h2 {
        font-size: 20px;
        text-align: center;
      }
      .conferences button a {
        padding: 15px 60px;
      }
      .conferences section header figure .confBoostez {
        margin: 40px 0px 30px 0px;
      }
}
