.conferences {
    padding: 0% 10%;
    section {
        header {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            div {
                h1 {
                    font-size: 26px;
                    // color: #d41726;
                    font-weight: 700;
                    text-transform: uppercase;
                    margin: 10px 0px;
                }
                h2 {
                    font-size: 18px;
                }
            }
            figure {
                img {
                    width: 200px;
                }
            }
        }
        article {
            h1 {
                text-transform: uppercase;
                font-size: 22px;
            }
            h2 {
                text-transform: uppercase;
                font-size: 22px;
            }
            section {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: start;
                margin: 15px 0px 35px 0px;
                a {
                    color: white;
                    padding: 10px 45px;
                    border-radius: 5px;
                    text-transform: uppercase;
                    font-weight: 600;
                    width: 30%;
                    margin: 10px 15px;
                    text-align: center;
                }
            }
        }
    }
    button {
        background: none;
        border: none;
        display: flex;
        justify-content: center;
        width: 100%;
        a {
            color: #007793;
            padding: 15px 80px;
            border-radius: 12px;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 18px;
            border: 3px solid #007793;
            &:hover {
                background-color: #007793;
                color: white;
            }
        }
    }
}

.zoomConference {
    margin: 50px 0px 0px 0px;
    .retourBtn {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0% 0% 0% 5%;
        cursor: pointer;
        i {
            rotate: 90deg;
            margin: 0px 10px 0px 0px;
            font-size: 24px;
            opacity: 0.7;
        }
        h1 {
            text-transform: uppercase;
            font-size: 14px;
        }
    }
    header {
        h1 {
            font-size: 36px;
            font-weight: 700;
            text-transform: uppercase;
            margin: 10px 0px;
            text-align: center;
            color: #d41726;
        }
        h2 {
            font-size: 18px;
            text-align: center;
            color: #d41726;
        }
    }
    article {
        width: 100%;
        display: flex;
        justify-content: center;
        margin: 50px 0px;
        iframe {
            width: 80%;
            height: 500px;
        }
    }
    footer {
        padding: 0% 10%;
        h1 {
            text-transform: uppercase;
            margin: 20px 0px;
        }
        ul {
            li {
                line-height: 25px;
            }
        }
    }
}