.contact {
    header {
        h1 {
            text-transform: uppercase;
            text-align: center;
            margin: 60px 0px 40px 0px;
            font-size: 42px;
            font-weight: 800;
            color: #d41726;            
            margin: 60px 0px 40px 0px;
        }
        h2 {
            font-size:18px;
            text-align: center;
            font-weight: normal;
        }
    }
    article {
        margin: 0% 10%;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        form {
            background: #f0f0f0;
            // height: 500px;
            section {
                display: flex;
                padding: 20px 0px 0px 0px;
                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 50%;
                    input {
                        border: none;
                        border-bottom: 1px solid #22a7c6;
                        padding: 0px 0px 10px 0px;
                        color: #126d82;
                        background: none;
                        margin: 10px 0px;
                        font-size: 16px;
                    }
                }
            }
            .formText {
                padding: 0% 10%;
                margin: 20px 0px 40px 0px;
                textarea {
                    width: 100%;
                    resize: none;
                    border: none;
                    height: 250px;
                    padding: 4%;
                    color: #126d82;
                    font-size: 16px;
                }
            }
            button {
                width: 100%;
                border: none;
                height: 50px;
                background-color: #126d82;
                text-transform: uppercase;
                font-size: 18px;
                color: white;
                cursor: pointer;
                &:hover {
                    background-color: #56b6cc;
                    font-weight: 700;
                }
            }
        }
    }
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        padding: 0% 10%;
        margin: 50px 0px 0px 0px;
        section {
            line-height: 25px;
            p {
                font-size: 32px;
                margin: 0px 0px 25px 0px;
                font-weight: normal;
            }
            h1, h2, h3, h4 {
                font-size: 18px;
                font-weight: normal;
            }
        }
        figure {
            img {
                width: 300px;
            }
        }
    }
}

@media screen and (max-width: 778px) { 
      .contact footer section h1, .contact footer section h2, .contact footer section h3, .contact footer section h4 {
        font-size: 15px;
        font-weight: normal;
      }
      .contact footer figure img {
        width: 170px;
      }
      .contact article form section div input {
        font-size: 14px;
      }
      textarea {
        font-size: 18px;
      }
}
@media screen and (max-width: 620px) { 
      .contact header h2 {
        font-size: 14px;
      }
    .contact article {
        margin: inherit;
    }
}
@media screen and (max-width: 490px) { 
    .contact article {
        padding: 0% 0%;
      }
      .contact header h2 {
        padding: 0% 4%;
      }
      .contact footer figure {
        margin: auto;
        margin-top: 40px;
      }
}

  @media screen and (max-width: 390px) { 
    .contact article form section div input {
        font-size: 10px;
     }
     .contact article form .formText textarea {
        font-size: 14px;
      }
}