.alert-success {
  text-align: center;
  margin: 20px 0px;
  color: #389b51;
}
.alert-error {
  text-align: center;
  margin: 20px 0px;
  color: #c64545;
}

.bundleTwig {
  display: flex;
  justify-content: center;
  .img{
    display: flex;
    justify-content: center;
    align-items: center;
    img{
      width: 500px;
    }
  }
  .error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .errorTitle{
      text-align: center;
      font-size: 3em;
    }
    .errorText{
      text-align: center;
      font-size: 1.6em;
    }
  }
}


.error404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 0px 20px 0px;
  height: 70vh;
  figure {
    width: 30%;
    img {
      width: 100%;
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    }
  }
  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  h1, h2 {
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    font-size: 18px;
  }
}

@media all and (max-width: 790px) {
  .bundleTwig {
    flex-direction: column;
  }
  .error404 h1, .error404 h2 {
    font-size: 18px;
  }
  .error404 p {
    font-size: 72px;
  }
  .error404 figure {
    width: 80%;
  }
  .error404 {
    padding: 0% 8%;
  }
}