.indexPage {
  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    figure {
      img {
        width: 250px;
      }
    }
    h1 {
      font-family: noh-sori, sans-serif;
      font-size: 33px;
      color: #707070;

    }
  }
  article {
    padding: 0% 12%;
    div {
      h1 {
        font-size: 26px;
        font-family: swear-display, serif;
        font-weight: 400;
        font-style: normal;
        color: #403B3B;
        margin: 10px 0px;
      }
      p {
        font-family: noh-sori, sans-serif;
        font-size: 16px;
        color: #707070;
        padding: 0px 0px 0px 10px;
        line-height: 26px;
      }
    }
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 12%;
    img {
      width: 250px;
      margin: 50px 0px 0px 0px;
    }
    h1 {
      font-family: noh-sori, sans-serif;
      font-size: 33px;
      color: #707070;
      margin: 40px 0px;
    }
    p {
      font-family: noh-sori, sans-serif;
      font-size: 16px;
      color: #707070;
      padding: 0px 0px 0px 10px;
      line-height: 26px;
    }
  }
}


// Responsive temporaire
@media all and (max-width: 400px) {
  .indexPage article div p {
    line-height: 35px;
  }
  .indexPage article div h1 {
    text-align: center;
    margin: 25px 0px;
  }
}