#slider {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 100px 0px;
}
#slider .container {
  width: 1600px;
  margin: auto;
}
#slider .subcontainer {
  width: 85%;
  margin: auto;
}
#slider .controller {
  display: flex;
  justify-content: center;
}
#slider .controller button {
  margin: 0px 20px;
  padding: 5px 10px;
  font-size: 14px;
  text-transform: uppercase;
  background-color: inherit;
  border: 2px solid black;
  border-radius: 5px;
  color: black;
  font-weight: 501;
  cursor: pointer;
  opacity: 0.7;
}
#slider .controller button:hover {
  background-color: #007793;
  font-weight: 600;
  color: white;
  opacity: 0.9;
}
#slider #controls {
  font-size: 19px;
}
#slider .slide-img {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}
#slider .slide-img figure img {
  height: 300px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#slider .slide-img a {
  color: rebeccapurple;
  opacity: 0;
}
#slider .slide-img a:hover {
  opacity: 1;
}
#slider .my-slider .infoBooks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#slider .my-slider h1 {
  text-transform: uppercase;
  margin: 0px 0px 0px 0px;
  font-weight: normal;
  font-size: 22px;
}
#slider .my-slider h2 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px 0px;
  font-size: 19px;
}
#slider .my-slider a {
  background-color: #007793;
  color: white;
  padding: 10px 45px;
  border-radius: 35px;
  text-transform: uppercase;
  font-weight: 600;
}
#slider .my-slider a:hover {
  background-color: #2290a9;
  font-weight: 700;
}
@media (max-width: 1600px) {
  #slider .container {
    width: 100%;
  }
}

.books article {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 100px 0px 100px 0px;
  border-bottom: 2px solid #d2d2d2;
}
.books article figure img {
  height: 400px;
  rotate: -5deg;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.books article section {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.books article section h1 {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 600;
  color: #d41726;
}
.books article section p {
  line-height: 30px;
  margin: 30px 0px 50px 0px;
}
.books article section a {
  background-color: #007793;
  color: white;
  padding: 10px 45px;
  border-radius: 35px;
  text-transform: uppercase;
  font-weight: 600;
  align-self: flex-end;
}
.books article section a:hover {
  background-color: #2290a9;
  font-weight: 700;
}
.books footer {
  display: flex;
  flex-direction: column;
}
.books footer header h1 {
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  margin: 50px 0px;
  font-weight: normal;
}
.books footer .hideFakeCarou {
  display: none;
}
.books footer section {
  display: flex;
  justify-content: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.books footer section .barsCarou {
  width: 1px;
  background-color: #dfdfdf;
}
.books footer section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 30px 0px;
}
.books footer section div figure {
  display: flex;
  justify-content: center;
}
.books footer section div figure img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  width: 70%;
}
.books footer section div h1 {
  text-transform: uppercase;
  margin: 50px 0px 0px 0px;
  font-weight: normal;
}
.books footer section div h2 {
  text-transform: uppercase;
  font-weight: 600;
  margin: 25px 0px;
}
.books footer section div a {
  background-color: #007793;
  color: white;
  padding: 10px 45px;
  border-radius: 35px;
  text-transform: uppercase;
  font-weight: 600;
}
.books footer section div a:hover {
  background-color: #2290a9;
  font-weight: 700;
}

.emptyBook {
  min-height: 70vh;
}

@media screen and (max-width: 778px) {
  .clientOpinion div {
    padding: 0% 5%;
    font-size: 14px;
  }

  .books article figure img {
    height: 300px;
  }

  .books article section a {
    background-color: #007793;
    color: white;
    padding: 10px 45px;
    border-radius: 35px;
    text-transform: uppercase;
    font-weight: 600;
    align-self: flex-end;
    font-size: 14px;
  }

  .books footer section div a {
    font-size: 12px;
  }
}
@media screen and (max-width: 620px) {
  .books article section h1 {
    font-size: 28px;
  }

  .books article section p {
    font-size: 14px;
  }

  .books article figure img {
    height: 200px;
  }

  .books footer section div h1 {
    font-size: 16px;
  }

  .books footer section div h2 {
    margin: 15px 0px;
    font-size: 16px;
  }

  .books footer section div a {
    padding: 10px 30px;
  }
}
@media screen and (max-width: 480px) {
  .books footer section div a {
    padding: 10px 15px;
  }

  .books article section a {
    padding: 10px 32px;
  }

  .books article {
    flex-direction: column;
  }

  .books article figure img {
    height: 300px;
  }

  .books article section {
    width: inherit;
    padding: 0% 9%;
  }

  .books article section h1 {
    text-align: center;
    margin: 50px 0px 0px 0px;
  }
}

/*# sourceMappingURL=books.css.map */
