.conferences {
  padding: 0% 10%;
}
.conferences section header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.conferences section header div h1 {
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0px;
  font-weight: normal;
}
.conferences section header div h2 {
  font-size: 18px;
  font-weight: normal;
}
.conferences section header figure img {
  width: 200px;
}
.conferences section article h1 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: normal;
}
.conferences section article h2 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: normal;
}
.conferences section article h3 {
  font-size: 18px;
  font-weight: normal;
  opacity: 0.6;
}
.conferences section article section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  margin: 15px 0px 35px 0px;
}
.conferences section article section a {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  color: white;
  padding: 10px 45px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  width: 30%;
  margin: 10px 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conferences button {
  margin: 80px 0px 0px 0px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  width: 100%;
}
.conferences button a {
  color: #007793;
  padding: 15px 80px;
  border-radius: 12px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
  border: 3px solid #007793;
}
.conferences button a:hover {
  background-color: #007793;
  color: white;
}

.zoomConference {
  margin: 50px 0px 0px 0px;
}
.zoomConference .retourBtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0% 0% 0% 5%;
  cursor: pointer;
}
.zoomConference .retourBtn i {
  rotate: 90deg;
  margin: 0px 10px 0px 0px;
  font-size: 24px;
  opacity: 0.7;
}
.zoomConference .retourBtn h1 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
}
.zoomConference header h1 {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0px;
  text-align: center;
}
.zoomConference header h2 {
  font-size: 18px;
  text-align: center;
  font-weight: normal;
}
.zoomConference article {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 50px 0px;
}
.zoomConference article iframe {
  width: 80%;
  height: 500px;
}
.zoomConference footer {
  padding: 0% 10%;
  margin: 0px 0px 50px 0px;
}
.zoomConference footer h1 {
  text-transform: uppercase;
  margin: 20px 0px;
  font-weight: normal;
}
.zoomConference footer ul li {
  line-height: 25px;
  font-weight: normal;
}

.business_color {
  color: #d41726;
}

.private_color {
  color: #007793;
}

.conferencier {
  padding: 0% 10%;
}
.conferencier header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.conferencier header div h1 {
  font-size: 26px;
  color: #007793;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0px;
  font-weight: normal;
}
.conferencier header div h2 {
  font-size: 18px;
  font-weight: normal;
}
.conferencier header figure img {
  width: 200px;
}
.conferencier article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.conferencier article section {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px 0px 50px 0px;
}
.conferencier article section figure {
  height: 330px;
  width: 100%;
}
.conferencier article section figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.conferencier article section h1 {
  text-transform: uppercase;
  font-size: 22px;
  margin: 24px 0px 4px 0px;
  text-align: center;
  font-weight: 600;
}
.conferencier article section h3 {
  margin: 2px 0px;
  font-weight: 600;
}
.conferencier article section div {
  line-height: 25px;
  padding: 0% 6%;
  text-align: center;
  margin: 10px 0px;
  font-style: italic;
}
.conferencier article section h5 {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  opacity: 0.7;
  margin: 20px 0px 20px 0px;
  text-align: center;
  border-top: 1px solid #cac8c8;
  padding: 25px 0px 0px 0px;
}
.conferencier article section .importantLink {
  font-size: 22px;
  font-style: italic;
  font-weight: 500;
  opacity: 0.6;
}
.conferencier article section .importantLink:hover {
  font-weight: 600;
  opacity: 0.9;
  text-transform: uppercase;
  font-style: normal;
}
.conferencier article section .smallConfLink {
  font-size: 18px;
  font-style: italic;
  opacity: 0.7;
}
.conferencier article section .smallConfLink:hover {
  font-weight: 600;
  opacity: 0.9;
  text-transform: uppercase;
  font-style: normal;
}
.conferencier article section .noConf {
  color: #c8c2c2;
  font-size: 14px;
}
.conferencier article section h6 {
  font-size: 14px;
  margin: 35px 0px 0px 0px;
  font-weight: 400;
}
.conferencier article section .langConf {
  display: flex;
  flex-direction: row;
  margin: 10px 0px 0px 0px;
  font-weight: 700;
}
.conferencier article section h2 {
  font-weight: 600;
  font-style: italic;
  font-size: 22px;
  opacity: 0.9;
  margin: 10px 0px 10px 0px;
  text-align: center;
}
.conferencier article section p {
  padding: 0% 6%;
  text-align: center;
  font-size: 14px;
  opacity: 0.7;
}

@media screen and (max-width: 1280px) {
  .conferences section article section a {
    width: auto;
  }
}
@media screen and (max-width: 778px) {
  .conferences section header figure img {
    width: 135px;
  }
}
@media screen and (max-width: 620px) {
  .conferences {
    padding: 0% 4%;
  }

  .conferences section header {
    margin: 40px 0px 0px 0px;
  }

  .conferences section header div h2 {
    font-size: 16px;
  }

  .conferences section header div h1 {
    font-size: 24px;
    font-weight: 600;
  }

  .conferences section header figure img {
    width: 100px;
  }
}
@media screen and (max-width: 480px) {
  .conferences section header {
    flex-direction: column;
  }

  .conferences section article h1 {
    font-size: 20px;
    text-align: center;
  }

  .conferences section article section {
    justify-content: center;
  }

  .conferences section article h2 {
    font-size: 20px;
    text-align: center;
  }

  .conferences button a {
    padding: 15px 60px;
  }
}

/*# sourceMappingURL=conference.css.map */
