{% extends 'base.html.twig' %}

{% block title %}Bio{% endblock %}
{% block importCss %}
    <link rel="stylesheet" href="{{ asset('css/bio.css') }}">
{% endblock %}
{% block body %}
<section class="biography">
    <header>
        <figure><img src="{{ asset('img/anne-portrait.jpg') }}" alt="portrait-anne-everard-auteure-conferenciere-formatrice"></figure>
        <section>
            <h1>{% trans into locale %}bio.title{% endtrans %}</h1>
            <p>{% trans into locale %}bio.desc.part1{% endtrans %}</p>
            <p>{% trans into locale %}bio.desc.part2{% endtrans %}</p>
            <p>{% trans into locale %}bio.desc.part3{% endtrans %}</p>
            <p>{% trans into locale %}bio.desc.part4{% endtrans %}</p>
        </section>
    </header>
    {% if logo is not empty %}
    <article>
        <h1>{% trans into locale %}bio.logo{% endtrans %}</h1>
        <figure>
            {% for img in logo %}
                <img src="{{asset('uploads/images/logo')}}/{{img.image}}" alt="logo-marque-soutient-confiance">
            {% endfor %}
        </figure>
    </article>
    {% endif %}
</section>

    {% include 'partials/newsletter.html.twig' %}

{% endblock %}
