{% block stylesheets%}
    <link rel="shortcut icon" href="{{ asset('img/iconWebsite.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}
{% set locale = app.request.locale %}

<title>{% block title %}{% trans into locale %} bibliography.title {% endtrans %}{% endblock %}</title>



{% block body %}
<section class="indexPage">
    <header>
        <figure><img src="{{ asset('img/boostez_'~locale~'.jpg') }}" alt="image-cover-livre-boostez"></figure>
        <h1>A. {% trans into locale %}bibliography.notes.title{% endtrans %}</h1>
    </header>
    <article>
        <div>
            <h1></h1>
            <p>1.<a href="https://sante.lefigaro.fr/article/les-edulcorants-un-mirage-face-aux-dangers-de-l-exces-de-sucre/">https://sante.lefigaro.fr/article/les-edulcorants-un-mirage-face-aux-dangers-de-l-exces-de-sucre/</a></p>
        </div>
        <div>
            <h1>{% trans into locale %}bibliography.method.title{% endtrans %}</h1>
            <p>2. {% trans into locale %}bibliography.method.2{% endtrans %}</p>
        </div>
        <div>
            <h1>{% trans into locale %}bibliography.sleep.title{% endtrans %}</h1>
            <p>
                3. <a href="https://www.lemonde.fr/vous/article/2012/11/28/les-francais-en-deficit-de-sommeil_1796860_3238.html">https://www.lemonde.fr/vous/article/2012/11/28/les-francais-en-deficit-de-sommeil_1796860_3238.html</a>
                <br>4. <a href="https://institut-sommeil-vigilance.org">https://institut-sommeil-vigilance.org</a>
                <br>5. <a href="https://institut-sommeil-vigilance.org/wp-content/uploads/2020/02/INSV-Enquete-JS2021-Synthèse.pdf">https://institut-sommeil-vigilance.org/wp-content/uploads/2020/02/INSV-Enquete-JS2021-Synthèse.pdf</a>
                <br>6. <a href="{% trans into locale %}bibliography.sleep.6{% endtrans %}">{% trans into locale %}bibliography.sleep.6{% endtrans %}</a>
                <br>7. <a href="https://archiveansm.integra.fr/var/ansm_site/storage/original/application/28274caaaf04713f0c280862555db0c8.pdf">https://archiveansm.integra.fr/var/ansm_site/storage/original/application/28274caaaf04713f0c280862555db0c8.pdf</a>
                <br>8. Dr Dominique Méan, Devenez l’acteur de votre sommeil, Genèse éd., 2018, p. 101
                <br>9. Dr Dominique Méan, op. cit., p. 60 et 61
                <br>10. <a href="https://reseau-morphee.fr/le-sommeil-et-ses-troubles-informations/quel-dormeur/soir-matin/questionnaire-de-typologie-circadienne-de-horne-et-ostberg">https://reseau-morphee.fr/le-sommeil-et-ses-troubles-informations/quel-dormeur/soir-matin/questionnaire-de-typologie-circadienne-de-horne-et-ostberg</a>
                <br>11. Dr Dominique Méan, op. cit., p. 39
                <br>12. <a href="https://institut-sommeil-vigilance.org/wp-content/uploads/2020/02/INSV-Enquete-JS2021-Synthèse.pdf">https://institut-sommeil-vigilance.org/wp-content/uploads/2020/02/INSV-Enquete-JS2021-Synthèse.pdf</a>
                <br>13. Dr Michel Cymes, Votre cerveau, éd. Le Livre de poche, 2017, p. 84. Et : <a href="https://www.liseuses.net/liseuse-lumiere-bleue/">https://www.liseuses.net/liseuse-lumiere-bleue/</a>
                <br>14. Florence Pérès, Digital detox, {% trans into locale %}bibliography.sleep.14{% endtrans %}
                <br>15. Dr Dominique Méan, op. cit., p. 61
                <br>16. <a href="https://www.pourquoidocteur.fr/MaladiesPkoidoc/57-INSOMNIES-MALADIE-DES-VILLES">https://www.pourquoidocteur.fr/MaladiesPkoidoc/57-INSOMNIES-MALADIE-DES-VILLES</a>
                <br>17. Dr Dominique Méan, op. cit., p. 63
                <br>18. Sarris et al., Herbal medicine for depression, anxiety and insomnia: a review of
                psychopharmacology and clinical evidence, 2011 https://pubmed.ncbi.nlm.nih.gov/21601431/
                Gomis, Devesa et al., Herbal drugs ans sleep. What can we expect ? 2015 : <a href="https://www.longdom.org/open-access/herbal-drugs-and-sleep-what-can-we-expect-2167-0277-1000196.pdf">https://www.longdom.org/open-access/herbal-drugs-and-sleep-what-can-we-expect-2167-0277-1000196.pdf</a>
                Shi et Al, Herbal Insomnia Medications that target GABAergic systems: A review of the psychopharmacological evidence, 2014 :
                <a href="https://pubmed.ncbi.nlm.nih.gov/24851093/">https://pubmed.ncbi.nlm.nih.gov/24851093/</a>
                <br>19. Dr Dominique Méan, op. cit., p. 66
                <br>20. Dr Michel Cymes, Votre cerveau, op. cit., p. 86
                <br>21. <a href="{% trans into locale %}bibliography.sleep.14{% endtrans %}">{% trans into locale %}bibliography.sleep.21{% endtrans %}</a>
                <br>22. Dr Benny Mwenge, {% trans into locale %}bibliography.sleep.14{% endtrans %} <a href="https://www.rtbf.be/info/societe/detail_le-covid-a-genere-des-troubles-du-sommeil-chez-73-des-belges-et-12-de-la-population-utilise-aujourd-hui-des-somniferes?id=10803417">https://www.rtbf.be/info/societe/detail_le-covid-a-genere-des-troubles-du-sommeil-chez-73-des-belges-et-12-de-la-population-utilise-aujourd-hui-des-somniferes?id=10803417</a>
                <br>23. Dr Dominique Méan, op. cit., p. 91
                <br>24. Dr Dominique Méan, op. cit., p. 95
            </p>
        </div>
        <div>
            <h1>{% trans into locale %}bibliography.food.title{% endtrans %}</h1>
            <p>
                25. <a href="https://liguecontrelobesite.org/actualite/forte-progression-de-lobesite-en-france-en-2020/">https://liguecontrelobesite.org/actualite/forte-progression-de-lobesite-en-france-en-2020/</a> {% trans into locale %}bibliography.food.25.text{% endtrans %}
                <a href="{% trans into locale %}bibliography.food.25.link{% endtrans %}">{% trans into locale %}bibliography.food.25.link{% endtrans %}</a>
                <br>26. <a href="https://www.santepubliquefrance.fr/etudes-et-enquetes/coviprev-une-enquete-pour-suivre-l-evolution-des-comportements-et-de-la-sante-mentale-pendant-l-epidemie-de-covid-19#block-253855">
                    https://www.santepubliquefrance.fr/etudes-et-enquetes/coviprev-une-enquete-pour-suivre-l-evolution-des-comportements-et-de-la-sante-mentale-pendant-l-epidemie-de-covid-19#block-253855</a>
                    <br>27. <a href="https://ec.europa.eu/eurostat/fr/web/products-eurostat-news/-/ddn-20220104-1">https://ec.europa.eu/eurostat/fr/web/products-eurostat-news/-/ddn-20220104-1</a>
                <br>28. Dr Hervé Grosgogeat, La Méthode acide-base. Perdre du poids, ralentir le vieillissement, prévenir les maladies, éd. Odile Jacob poches, 2009
                <br>29. <a href="https://www.marieclaire.fr/,des-assiettes-plus-petites-pour-consommer-moins-de-calories,780173.asp">https://www.marieclaire.fr/,des-assiettes-plus-petites-pour-consommer-moins-de-calories,780173.asp</a>
                <br>30. <a href="https://www.axaprevention.fr/intox-detox-eau-pendant-repas">https://www.axaprevention.fr/intox-detox-eau-pendant-repas</a>
                <br>31. Dr Michel Cymes, Votre santé au travail, on s’en parle ?, éd. Solar, 2021, p. 78
                <br>32. Rose E. Oldham-Copper, Charlotte A. Hardman et al., “Playing a computer game during lunch affects fullness, memory for lunch, and later snack intake”, The American Journal of Clinical Nutrition, 2010, p. 308 :
                <a href="https://academic.oup.com/ajcn/article/93/2/308/4597636?login=false">https://academic.oup.com/ajcn/article/93/2/308/4597636?login=false</a>
                <br>33. Elliot M. Blass, Daniel R. Anderson et al., “On the roads to obesity: television viewing increases intake of high-density foods”, 2006 :
                <a href="https://pubmed.ncbi.nlm.nih.gov/16822530/">https://pubmed.ncbi.nlm.nih.gov/16822530/</a>
                <br>34. <a href="https://www.mangerbouger.fr/content/show/1501/file/Brochure_50_petites_astuces.pdf">https://www.mangerbouger.fr/content/show/1501/file/Brochure_50_petites_astuces.pdf</a>, p. 19
                <br>35. <a href="https://www.vitisphere.com/actualite-95651-la-ligue-contre-le-cancer-salarme-de-la-consommation-dalcool-par-les-francais.html">https://www.vitisphere.com/actualite-95651-la-ligue-contre-le-cancer-salarme-de-la-consommation-dalcool-par-les-francais.html</a>
                <br>36. <a href="https://www.drogues.gouv.fr/actualites/sante-publique-france-presente-nouvelles-recommandations-lalimentation-y-compris-lalcool">https://www.drogues.gouv.fr/actualites/sante-publique-france-presente-nouvelles-recommandations-lalimentation-y-compris-lalcool</a>
                <br>37. <a href="https://www.francetvinfo.fr/en-image/en-images-combien-de-morceaux-de-sucre-contient-votre-boisson-preferee_1173425.html">https://www.francetvinfo.fr/en-image/en-images-combien-de-morceaux-de-sucre-contient-votre-boisson-preferee_1173425.html</a>
                <br>38. <a href="https://sante.lefigaro.fr/article/les-edulcorants-un-mirage-face-aux-dangers-de-l-exces-de-sucre/">https://sante.lefigaro.fr/article/les-edulcorants-un-mirage-face-aux-dangers-de-l-exces-de-sucre/</a>
                <br>39. Bleich et al, Diet-Beverage consumption and caloric intake among US adults, overall and by body weight, 2013
                <a href="https://ajph.aphapublications.org/doi/abs/10.2105/AJPH.2013.301556?journalCode=ajph&&&">https://ajph.aphapublications.org/doi/abs/10.2105/AJPH.2013.301556?journalCode=ajph&&&</a>
                <br>40. <a href="https://www.ipsos.com/fr-fr/les-10-petits-dejeuners-types-des-francais">https://www.ipsos.com/fr-fr/les-10-petits-dejeuners-types-des-francais</a>
                <br>41. Dr Dominique Méan, op.cit., p. 58
                <br>42. Dr Michel Cymes, Votre cerveau, op. cit., p. 50
                <br>43. <a href="https://medfam.umontreal.ca/wp-content/uploads/sites/16/Guide-autosoins-pour-la-gestion-du-stress.pdf">https://medfam.umontreal.ca/wp-content/uploads/sites/16/Guide-autosoins-pour-la-gestion-du-stress.pdf</a>, p. 73
                <br>44. A. Sanchez-Villegas, E. Toledo, J. De Irala, M. Ruiz-Canela, J. Pla-Vidal, M.A. Martinez-Gonzalez, “Fast-food and commercial baked goods consumption and the risk of depression”, Public Health Depression, 2021:
                <a href="https://pubmed.ncbi.nlm.nih.gov/21835082/">https://pubmed.ncbi.nlm.nih.gov/21835082/</a> Michel Cymes, Votre santé au travail, on s’en parle ? op. cit., p. 80
                <br>45. <a href="https://www.anses.fr/fr/system/files/NUT2009sa0099Ra.pdf">https://www.anses.fr/fr/system/files/NUT2009sa0099Ra.pdf</a>, p. 57
                <br>46. <a href="https://www.efsa.europa.eu/sites/default/files/corporate_publications/files/efsaexplainscaffeine150527fr.pdf">https://www.efsa.europa.eu/sites/default/files/corporate_publications/files/efsaexplainscaffeine150527fr.pdf</a>
                <br>47. <a href="https://www.axaprevention.fr/intox-detox-eau-pendant-repas">https://www.axaprevention.fr/intox-detox-eau-pendant-repas</a>
                <br>48. {% trans into locale %}bibliography.food.48.a{% endtrans %} : {% trans into locale %}bibliography.food.48.b{% endtrans %}
                <br>49. {% trans into locale %}bibliography.food.49{% endtrans %} <a href="https://www.doctissimo.fr/sante/atlas-corps-humain/question-corps-humain/intestin-deuxieme-cerveau">https://www.doctissimo.fr/sante/atlas-corps-humain/question-corps-humain/intestin-deuxieme-cerveau</a>
                <br> 50. <a href="https://www.copmed.fr/fr/content/69-lhyperpermeabilite-intestinale-source-de-nombreuses-pathologies">https://www.copmed.fr/fr/content/69-lhyperpermeabilite-intestinale-source-de-nombreuses-pathologies</a>;<a
                        href="https://www.santemagazine.fr/sante/maladies/maladies-appareil-digestif/12-signes-qui-indiqueraient-un-intestin-permeable-336981">https://www.santemagazine.fr/sante/maladies/maladies-appareil-digestif/12-signes-qui-indiqueraient-un-intestin-permeable-336981</a>
            </p>
        </div>
        <div>
            <h1>{% trans into locale %}bibliography.sport.title{% endtrans %}</h1>
            <p>
                51. <a href="{% trans into locale %}bibliography.sport.51{% endtrans %}">{% trans into locale %}bibliography.sport.51{% endtrans %}</a>
                <br>52. Dr Michel Cymes, Votre santé au travail, on s’en parle ?, op. cit., p. 42
                <br>53. <a href="https://www.cchst.ca/oshanswers/psychosocial/walking.html">https://www.cchst.ca/oshanswers/psychosocial/walking.html</a> {% trans into locale %}bibliography.sport.51{% endtrans %}
                <br>54. Pascale d’Erm, Natura. Pourquoi la nature nous soigne... et nous rend plus heureux, éd. Les Liens qui libèrent, 2019, p. 16
                <br>55. Pascale d’Erm, op. cit., p. 59
                <br>56. <a href="{% trans into locale %}bibliography.sport.56{% endtrans %}">{% trans into locale %}bibliography.sport.56{% endtrans %}</a>
                <br>57. <a href="https://www.opinion-way.com/fr/sondage-d-opinion/sondages-publies/opinionway-pour-asnav-barometre-de-la-sante-visuelle-avril-2019/viewdocument/2147.html">https://www.opinion-way.com/fr/sondage-d-opinion/sondages-publies/opinionway-pour-asnav-barometre-de-la-sante-visuelle-avril-2019/viewdocument/2147.html</a> Francisca Joly Gomez, gastro-entérologue, professeure en nutrition à l'université Paris-Diderot et auteure de l’ouvrage L’Intestin, notre deuxième cerveau, éd. Poche Marabout, 2016
                <br> 58. Hortense Servais, Voir la Vie. Guérir des troubles oculaires en changeant le regard que l’on porte sur soi-même, les autres et la vie, 2009.
                <a href="https://www.artdevoir-asso.fr/">https://www.artdevoir-asso.fr/</a>
            </p>
        </div>
        <div>
            <h1>{% trans into locale %}bibliography.brain.title{% endtrans %}</h1>
            <p>
                59. <a href="https://www.santepubliquefrance.fr/etudes-et-enquetes/coviprev-une-enquete-pour-suivre-l-evolution-des-comportements-et-de-la-sante-mentale-pendant-l-epidemie-de-covid-19#block-260858">https://www.santepubliquefrance.fr/etudes-et-enquetes/coviprev-une-enquete-pour-suivre-l-evolution-des-comportements-et-de-la-sante-mentale-pendant-l-epidemie-de-covid-19#block-260858</a>
                <br>60. Florence Pérès, op. cit., p. 122
                <br>61. Caroline Cuny, {% trans into locale %}bibliography.sport.61{% endtrans %} dans Michel Cymes, Votre santé au travail, on s’en parle ? op. cit., p. 134
                <br>62. Anne de Pomereu, À la reconquête de l’attention, éd. J.-C. Lattès, 2021, p. 193
                <br>63. Francis Eustache, « Ne rien faire est vital pour la santé » : https://www.youtube.com/watch?v=566kRI-y3Uw&t=5s
                <br>64. <a href="https://www.santemagazine.fr/psycho-sexo/psycho/est-ce-que-le-fait-de-penser-brule-des-calories-334007">https://www.santemagazine.fr/psycho-sexo/psycho/est-ce-que-le-fait-de-penser-brule-des-calories-334007</a>
                <br>65. Michel Cymes, Votre cerveau, op.cit., p. 49
                <br>66. Michel Cymes, Votre cerveau, op. cit., p. 193
                <br>67. Dr Steven Laureys, La Méditation, {% trans into locale %}bibliography.sport.67{% endtrans %}
                <br>68. Dr Steven Laureys, op. cit, p. 61
                <br>69. Anne de Pomereu, op. cit., p. 291
                <br>70. Matt Killingsworth, “Does Mind-Wandering Make You Unhappy ?”, Greater Good Magazine, Science-Based Insights for a Meaningful Life, 2013, cite dans Anne de Pomereu, op.cit., p. 260 et 261
                <br>71. Jean-Philippe Lachaux, L’Attention, ça s’apprend, éd. MDI, 2020, p. 10
                <br>72. Caroline Cuny, citée dans Michel Cymes, Votre santé au travail, on s’en parle ?, op. cit., p. 134. Anne de Pomereu, op. cit., p. 47
                <br>73. Gloria Mark, Daniela Gudith and Ulrich Klocke, The cost of interrupted work: more speed and stress : https://www.ics.uci.edu/~gmark/chi08-mark.pdf
                <br>74. <a href="https://www.uu.nl/onderwijs/onderwijsadvies-training/scholing/hoger-onderwijs/werken-aan-academische-vaardigheden/tips-voor-studenten/uit-het-oog-uit-het-hoofd-studeren-zonder-je-smartphone-in-de-buurt">
                    https://www.uu.nl/onderwijs/onderwijsadvies-training/scholing/hoger-onderwijs/werken-aan-academische-vaardigheden/tips-voor-studenten/uit-het-oog-uit-het-hoofd-studeren-zonder-je-smartphone-in-de-buurt</a>
                <br>75. <a href="https://www.santepubliquefrance.fr/etudes-et-enquetes/coviprev-une-enquete-pour-suivre-l-evolution-des-comportements-et-de-la-sante-mentale-pendant-l-epidemie-de-covid-19#block-260858">
                    https://www.santepubliquefrance.fr/etudes-et-enquetes/coviprev-une-enquete-pour-suivre-l-evolution-des-comportements-et-de-la-sante-mentale-pendant-l-epidemie-de-covid-19#block-260858
                </a>
                <br>76. Florence Pérès, op.cit., p. 16-17
                <br>77. Ibid, p. 71 et 72
                <br>78. <a href="https://www.uu.nl/onderwijs/onderwijsadvies-training/scholing/hoger-onderwijs/werken-aan-academische-vaardigheden/tips-voor-studenten/uit-het-oog-uit-het-hoofd-studeren-zonder-je-smartphone-in-de-buurt">
                    https://www.uu.nl/onderwijs/onderwijsadvies-training/scholing/hoger-onderwijs/werken-aan-academische-vaardigheden/tips-voor-studenten/uit-het-oog-uit-het-hoofd-studeren-zonder-je-smartphone-in-de-buurt
                </a>
            </p>
        </div>
        <div>
            <h1>Mon temps de récupération</h1>
            <p>
                79. Tal Ben-Shahar, Stress and wellbeing case study : <a href="https://www.youtube.com/watch?v=DEJ1zTL-qN4">https://www.youtube.com/watch?v=DEJ1zTL-qN4</a>
            </p>
        </div>
        <div>
            <h1>Mon petit check-up</h1>
            <p>
                80. <a href="https://www.revmed.ch/revue-medicale-suisse/2011/revue-medicale-suisse-319/vitamine-d-actualite-et-recommandations">
                    https://www.revmed.ch/revue-medicale-suisse/2011/revue-medicale-suisse-319/vitamine-d-actualite-et-recommandations
                </a>
                <br>81. <a href="https://www.lalibre.be/planete/sante/2021/10/11/lalimentation-joue-t-elle-un-role-dans-la-gravite-du-coronavirus-des-chercheurs-belges-ont-fait-une-decouverte-2YKVI5IJTNEJVEEJJNVCTNJCYU/">
                    https://www.lalibre.be/planete/sante/2021/10/11/lalimentation-joue-t-elle-un-role-dans-la-gravite-du-coronavirus-des-chercheurs-belges-ont-fait-une-decouverte-2YKVI5IJTNEJVEEJJNVCTNJCYU/
                </a>
            </p>
        </div>
        <div>
            <h1>Le bonheur est dans le pré</h1>
            <p>
                82. Shawn Achor, Comment devenir un optimiste contagieux, cité dans Michel Cymes, Votre santé au travail, on s’en parle ? op. cit, p. 19
            </p>
        </div>
        <div>
            <h1>L'organisation de mon travail</h1>
            <p>
                83. Sondage Bloom at Work, cité par Michel Cymes, Votre santé au travail, on s’en parle ? op. cit., p. 100
                <br>84. <a href="https://www.cadreo.com/actualites/dt-6-chiffres-a-connaitre-sur-les-reunions">
                    https://www.cadreo.com/actualites/dt-6-chiffres-a-connaitre-sur-les-reunions
                </a>
                <br>85. Pratique décrite sur le blog <a href="https://www.qualitystreet.fr/">www.qualitystreet.fr</a> de Jean-Claude Grosjean et issue du Guide de survie aux réunions. 40 techniques pour transformer vos réunions en moments fun et productifs de Sacha Lopez, David Lemesle et Marc Bourguignon, éd. Pearson France, 2016, p. 139.
                <br>86. <a href="https://www.arobase.org/actu/chiffres-email.htm"> https://www.arobase.org/actu/chiffres-email.htm</a> ;
                <a href="https://www.radicati.com/wp/wp-content/uploads/2015/03/Email-Statistics-Report-2015-2019-Executive-Summary.pdf">https://www.radicati.com/wp/wp-content/uploads/2015/03/Email-Statistics-Report-2015-2019-Executive-Summary.pdf</a> ;
            </p>
        </div>
        <div>
            <h1>Ma boîte à outils</h1>
            <p>
                87. Thomas d’Ansembourg, Cessez d’être gentil, soyez vrai !, édition illustrée par Alexis Nouailhat, éd. de l’Homme, 2014, p. 74 ; Thierry Janssen, La Posture juste, éd. L’Iconoclaste, 2020, p. 159
                <br>88. Dr David Brun, Feeling good, https://feelinggood.com
                <br>89. Rosette Poletti et Barbara Dobbs, L’Estime de soi, éd. Jouvence, 1998, .p 65
                <br>90. Tal Ben-Shahar, Les 5 Clés du bonheur, éd. Robert Laffont, 2021, p. 194 et 196. Cf. la théorie de l’effet rebond (ou effet ironique) de Daniel Wegner, combinée à la théorie de l’intention paradoxale de Viktor Frankl.
                <br>91. Axel Lattuada & Fabrice De Boni, Et tout le monde s’en fout #3 – Les émotions : <a href="https://www.youtube.com/watch?v=_DakEvdZWLk">https://www.youtube.com/watch?v=_DakEvdZWLk</a>
                <br>92. <a href="https://www.camh.ca/fr/info-sante/index-sur-la-sante-mentale-et-la-dependance/les-antidepresseurs">https://www.camh.ca/fr/info-sante/index-sur-la-sante-mentale-et-la-dependance/les-antidepresseurs</a>
                <br>93. Axel Lattuada & Fabrice De Boni, Et tout le monde s’en fout #3 – Les émotions : <a href="https://www.youtube.com/watch?v=_DakEvdZWLk">https://www.youtube.com/watch?v=_DakEvdZWLk</a>
                <br>94. Dr Henri Grosgogeat, La Méthode acide-base, éd. Odile Jacob poches, 2009, p. 121
                <br>95. <a
                        href="https://medfam.umontreal.ca/wp-content/uploads/sites/16/Guide-autosoins-pour-la-gestion-du-stress.pdf">https://medfam.umontreal.ca/wp-content/uploads/sites/16/Guide-autosoins-pour-la-gestion-du-stress.pdf</a>, p. 73
                <br>96. Dr Michel Cymes, Votre cerveau, op. cit., p. 173
                <br>97. Axel Lattuada & Fabrice De Boni, Et tout le monde s’en fout #3 – Les émotions : <a href="https://www.youtube.com/watch?v=_DakEvdZWLk">https://www.youtube.com/watch?v=_DakEvdZWLk</a>
                <br>98. Dr Michel Cymes, Votre cerveau, op. cit., p. 188
            </p>
        </div>
        <div>
            <h1>Mon télétravail réussi</h1>
            <p>
                99. <a href="https://newsroom.malakoffhumanis.com/actualites/barometre-annuel-teletravail-2021-de-malakoff-humanis-db57-63a59.html">https://newsroom.malakoffhumanis.com/actualites/barometre-annuel-teletravail-2021-de-malakoff-humanis-db57-63a59.html</a> ;
                <a href="https://www.oberlo.fr/blog/travail-a-distance">https://www.oberlo.fr/blog/travail-a-distance</a>;
                <a href="https://www.lesechos.fr/politique-societe/societe/covid-la-detresse-psychologique-des-salaries-reste-preoccupante-1356688">https://www.lesechos.fr/politique-societe/societe/covid-la-detresse-psychologique-des-salaries-reste-preoccupante-1356688</a>;
                <a href="https://www.acerta.be/fr/a-propos-dacerta/dans-la-presse/quatre-belges-sur-dix-ne-peuvent-pas-encore-teletravailler-aujourdhui">https://www.acerta.be/fr/a-propos-dacerta/dans-la-presse/quatre-belges-sur-dix-ne-peuvent-pas-encore-teletravailler-aujourdhui</a>.
                <br>100. <a href="https://www.lalibre.be/economie/conjoncture/2022/02/14/seuls-3-des-employes-dans-le-monde-veulent-retourner-au-bureau-a-plein-temps-UFDDJYVQRZAI7FIC46ABO5H3OE/">
                    https://www.lalibre.be/economie/conjoncture/2022/02/14/seuls-3-des-employes-dans-le-monde-veulent-retourner-au-bureau-a-plein-temps-UFDDJYVQRZAI7FIC46ABO5H3OE/
                </a>
                <br>101. Pascale d’Erm, op.cit., p. 59
                <br>102. <a href="https://www.mensura.be/fr/blog/comment-organiser-teletravail-conseils-pour-un-bon-cadre-de-travail">https://www.mensura.be/fr/blog/comment-organiser-teletravail-conseils-pour-un-bon-cadre-de-travail</a>
                <br>103. <a href="https://www.mensura.be/uploads/media/59130bd777e72/fr-travailler-avec-laptop-tablette-dec2016.pdf">https://www.mensura.be/uploads/media/59130bd777e72/fr-travailler-avec-laptop-tablette-dec2016.pdf</a>
                <br>104. Dr Michel Cymes, Votre cerveau, éd. Le Livre de poche, 2017, p. 87
                <br> 105. <a href="https://journals.ashs.org/horttech/view/journals/horttech/30/1/article-p55.xml">https://journals.ashs.org/horttech/view/journals/horttech/30/1/article-p55.xml</a>
            </p>
        </div>
        <div>
            <h1>Les signaux d'alarmes</h1>
            <p>
                106. Axel Lattuada & Fabrice De Boni, Et tout le monde s’en fout #68 – Les besoins : <a href="https://www.youtube.com/watch?v=Kh5Wqit84Vk">https://www.youtube.com/watch?v=Kh5Wqit84Vk</a>
            </p>
        </div>
    </article>
    <footer>
        <h1>B. BIBLIOGRAPHIE</h1>
        <p>
            ANSEMBOURG (D’) Thomas, Cessez d’être gentil, soyez vrai ! éd de l’Homme, 2004, ou l’édition illustrée par Alexis Nouailhat, éd. de l’Homme, 2014
            <br>ASSENHEIM Cathy, Mon cerveau est hyper. Haut potentiel & hypersensibilité, éd. De Boeck Supérieur, 2020
            <br>BATARD Gwenaëlle, L’Ayurveda sourire. Quand la joie du cœur est la santé du corps, éd. Marie Claire, 2019
            <br>BEN-SHAHAR Tal, Les 5 Clés du bonheur, éd. Robert Laffont, 2021
            <br>BOURGUIGNON Patricia et VAN VOLDORP Pierre, Nutrithérapie et Immunité, Union des nutrithérapeutes francophones, 2020
            <br>CARR Allen, La Méthode simple pour en finir avec la cigarette, éd. Pocket, 2004 et La Méthode simple pour maîtriser sa consommation d’alcool, éd. Pocket, 2019.
            <br>CHAPON Julie et BERTHOU Anthony, YUKA - Le Guide de l’alimentation saine, éd. Marabout, 2020
            <br>CYMES Michel avec la collaboration de Patrice Romedenne, Votre cerveau, éd. Le Livre de poche, 2017
            <br>CYMES Michel avec la collaboration de Julie Martory, Votre santé au travail, on s’en parle ? éd. Solar, 2021
            <br>DEHAENE Stanislas, Face à face avec son cerveau, éd. Odile Jacob, 2021
            <br>DE POMEREU Anne, À la reconquête de l’attention, éd. J.-C. Lattès, 2021
            <br>DE SURANY Caroline et LILLA, Cultiver le bonheur pour les nuls en BD, éd. Delcourt et First, 2017
            <br>ENDERS Giulia, Le Charme discret de l’intestin, éd. Actes Sud, 2015
            <br>ERM (D’) Pascale, Natura. Pourquoi la nature nous soigne... et nous rend plus heureux, éd. Les Liens qui libèrent, 2019
            <br>EVERARD Anne, Guide du burn-out. Comment l’éviter, comment en sortir, éd. Albin Michel, 2017
            <br>FELBER Ulli, Les Bains de forêt, Shinrin Yoku. Un guide de connexion et de guérison par la nature, éd. Macro, 2019
            <br>FERRON Nathalie et LANGEVIN Ricarda, Yoga et Ayurvéda, éd. Leduc, 2021
            <br>FESTY Danièle, Je m’initie aux huiles essentielles, éd. Leduc, 2017
            <br>GROSGOGEAT Hervé, La Méthode acide-base. Perdre du poids, ralentir le vieillissement, prévenir les maladies, éd. Odile Jacob poches, 2009
            <br>JANSSEN Thierry, Confidences d’un homme en quête de cohérence, éd. Pocket, 2014
            <br>JANSSEN Thierry, La Posture juste, éd. L’Iconoclaste, 2020
            <br>JOLY GOMEZ Francisca, L’Intestin, notre deuxième cerveau, éd. Poche Marabout, 2014
            <br>LACHAUX Jean-Philippe, L’Attention, ça s’apprend !, éd. MDI, 2020
            <br>LANGEVIN Ricarda, Mes petites recettes magiques ayurvédiques, éd. Leduc, 2022
            <br>LAUREYS Steven, La Méditation, c’est bon pour le cerveau, éd. Odile Jacob, 2019
            <br>LELOUP Jean-Yves, Un art de vivre et d’aimer par temps de catastrophe, éd. Points, 2020
            <br>LEMKE Bettina, Le Livre de l’ikigai. Le secret du bonheur, éd. J’ai Lu, 2019
            <br>MÉAN Dominique, Devenez l’acteur de votre sommeil, Genèse éd., 2018
            <br>MERET Anne-Claire et NARBONI Anne-Marie, La Naturopathie pour les nuls, éd. First, 2016
            <br>MORIN Charles M., Vaincre les ennemis du sommeil, éd. de l’Homme, 2021
            <br>ORBAN Thomas et LIÉVIN Vincent, Alcool : ce qu’on ne vous a jamais dit, éd. Mardaga, 2022.
            <br>PERNET ÉMILIE, Le Petit Livre du lâcher-prise. Recentrez-vous sur l’essentiel, éd. First, 2018
            <br>PHILIPPON Bérengère, Je réussis ma détox sucre, éd. Larousse, 2021
            <br>POLETTI Rosette et DOBBS Barbara, L’Estime de soi, éd. Jouvence, 1998
            <br>RAQUIN Bernard, La PNL au quotidien, éd. Jouvence, 2004
            <br>ROBACHE Maxime, Mettre en place & manager le télétravail, éd. Eyrolles, 2020
            <br>RUIZ Don Miguel, Les Quatre Accords toltèques. La voie de la liberté personnelle, éd. Poches Jouvence, 2016
            <br>SALMAN Frédéric, Le Meilleur Médicament c’est vous !, éd. Le Livre de Poche, 2016
            <br>SERON Xavier et Éléonore, Devenez l’acteur de votre mémoire, éd. Genèse, 2021
            <br>SERVAIS Hortense, Voir la Vie. Guérir les troubles oculaires en changeant le regard que l’on porte sur soi-même, les autres, la vie, 2009
            <br>TROUCHAUD Marie-Jeanne, La Communication sans violence, éd. Eyrolles, 2019
            <br>WALKER Matthew, Pourquoi nous dormons. Ce que la science nous révèle pour mieux dormir, éd. Pocket, 2019
        <p>
        <figure><img src="{{ asset('img/boostez_'~locale~'.jpg') }}" alt="image-cover-livre-boostez"></figure>
    </footer>
</section>
{% endblock %}
