{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
<section class="indexPage">
    <header>
        <figure><img src="/img/front.jpg" alt="image-cover-livre-boostez"></img></figure>
        <h1>A. NOTES ET SOURCES SCIENTIFIQUES</h1>
    </header>
    <article>
     <div>
        <h1>Boostez ça veut dire quoi ?</h1>
        <p>1.https://sante.lefigaro.fr/article/les-edulcorants-un-mirage-face-aux-dangers-de-l-exces-de-sucre/</p>
     </div>
     <div>
        <h1>La méthode pour me booster</h1>
        <p>2. La théorie des petites cuillères a été inventée par Christine Miserandino. Je l’ai largement développée dans mon premier livre Le Guide du burn-out (éd. Albin Michel, 2017) afin d’aider à retrouver son énergie après un épuisement.</p>
     </div>
    <div>
        <h1>La méthode pour me booster</h1>
        <p>
            3. https://www.lemonde.fr/vous/article/2012/11/28/les-francais-en-deficit-de-sommeil_1796860_3238.html
            <br>4. https://institut-sommeil-vigilance.org
            <br>5. https://institut-sommeil-vigilance.org/wp-content/uploads/2020/02/INSV-Enquete-JS2021-Synthèse.pdf
            <br>6. https://www.philips.be/fr/a-w/about/news/archive/standard/about/news/communiques/Healthcare/2018/20180315-etude-philips-le-belge-dort-mal-et-trop-peu.html
            <br>7. https://archiveansm.integra.fr/var/ansm_site/storage/original/application/28274caaaf04713f0c280862555db0c8.pdf
            <br>8. Dr Dominique Méan, Devenez l’acteur de votre sommeil, Genèse éd., 2018, p. 101
            <br>9. Dr Dominique Méan, op. cit., p. 60 et 61
            <br>10. https://reseau-morphee.fr/le-sommeil-et-ses-troubles-informations/quel-dormeur/soir-matin/questionnaire-de-typologie-circadienne-de-horne-et-ostberg
            <br>11. Dr Dominique Méan, op. cit., p. 39
            <br>12. https://institut-sommeil-vigilance.org/wp-content/uploads/2020/02/INSV-Enquete-JS2021-Synthèse.pdf
            <br>13. Dr Michel Cymes, Votre cerveau, éd. Le Livre de poche, 2017, p. 84. Et : https://www.liseuses.net/liseuse-lumiere-bleue/
            <br>14. Florence Pérès, Digital detox, éd. Lannoo, 2017, p. 122-123 (en langue néerlandaise)
            <br>15. Dr Dominique Méan, op. cit., p. 61
            <br>16. https://www.pourquoidocteur.fr/MaladiesPkoidoc/57-INSOMNIES-MALADIE-DES-VILLES
            <br>17. Dr Dominique Méan, op. cit., p. 63
            <br>18. Sarris et al., Herbal medicine for depression, anxiety and insomnia: a review of
            psychopharmacology and clinical evidence, 2011 https://pubmed.ncbi.nlm.nih.gov/21601431/
            Gomis, Devesa et al., Herbal drugs ans sleep. What can we expect ? 2015 : https://www.longdom.org/open-access/herbal-drugs-and-sleep-what-can-we-expect-2167-0277-1000196.pdf
            Shi et Al, Herbal Insomnia Medications that target GABAergic systems: A review of the psychopharmacological evidence, 2014 : https://pubmed.ncbi.nlm.nih.gov/24851093/
            <br>19. Dr Dominique Méan, op. cit., p. 66
            <br>20. Dr Michel Cymes, Votre cerveau, op. cit., p. 86
            <br>21. https://www.lespecialiste.be/fr/actualites/les-campagnes-de-prevention-contre-l-usage-prolonge-de-somniferes-inefficaces-en-flandre.html
            <br>22. https://www.lespecialiste.be/fr/actualites/les-campagnes-de-prevention-contre-l-usage-prolonge-de-somniferes-inefficaces-en-flandre.html
            <br>23. Dr Dominique Méan, op. cit., p. 91
            <br>24. Dr Dominique Méan, op. cit., p. 95
        </p>
     </div> 
     <div>
        <h1>Mon alimentation et mes boissons</h1>
        <p>
            25. https://liguecontrelobesite.org/actualite/forte-progression-de-lobesite-en-france-en-2020/ En Belgique, il y a 55% de personnes en surpoids dans la population adulte, dont 21% d’obèses https://www.belgiqueenbonnesante.be/fr/etat-de-sante/determinants-de-sante
            <br>26. https://www.santepubliquefrance.fr/etudes-et-enquetes/coviprev-une-enquete-pour-suivre-l-evolution-des-comportements-et-de-la-sante-mentale-pendant-l-epidemie-de-covid- 19#block-253855
            <br>27. https://ec.europa.eu/eurostat/fr/web/products-eurostat-news/-/ddn-20220104-1
            <br>28. Dr Hervé Grosgogeat, La Méthode acide-base. Perdre du poids, ralentir le vieillissement, prévenir les maladies, éd. Odile Jacob poches, 2009
            <br>29. https://www.marieclaire.fr/,des-assiettes-plus-petites-pour-consommer-moins-de-calories,780173.asp
            <br>30. https://www.axaprevention.fr/intox-detox-eau-pendant-repas
            <br>31. Dr Michel Cymes, Votre santé au travail, on s’en parle ?, éd. Solar, 2021, p. 78
            <br>32. Rose E. Oldham-Copper, Charlotte A. Hardman et al., “Playing a computer game during lunch affects fullness, memory for lunch, and later snack intake”, The American Journal of Clinical Nutrition, 2010, p. 308 : https://academic.oup.com/ajcn/article/93/2/308/4597636?login=false
            <br>33. Elliot M. Blass, Daniel R. Anderson et al., “On the roas to obesity: television viewing increases intake of high-density foods”, 2006 : https://pubmed.ncbi.nlm.nih.gov/16822530/
            <br>34. https://www.mangerbouger.fr/content/show/1501/file/Brochure_50_petites_astuces.pdf, p. 19
            <br>35. https://www.vitisphere.com/actualite-95651-la-ligue-contre-le-cancer-salarme-de-la-consommation-dalcool-par-les-francais.html
            <br>36. https://www.drogues.gouv.fr/actualites/sante-publique-france-presente-nouvelles-recommandations-lalimentation-y-compris-lalcool
            <br>37. https://www.francetvinfo.fr/en-image/en-images-combien-de-morceaux-de-sucre-contient-votre-boisson-preferee_1173425.html
            <br>38. https://sante.lefigaro.fr/article/les-edulcorants-un-mirage-face-aux-dangers-de-l-exces-de-sucre/
            <br>39. Bleich et al, Diet-Beverage consumption and caloric intake among US adults, overall and by body weight, 2013 https://ajph.aphapublications.org/doi/abs/10.2105/AJPH.2013.301556?journalCode=ajph&& &
            <br>40. https://www.ipsos.com/fr-fr/les-10-petits-dejeuners-types-des-francais
            <br>41. Dr Dominique Méan, op.cit., p. 58
            <br>42. Dr Michel Cymes, Votre cerveau, op. cit., p. 50
            <br>43. https://medfam.umontreal.ca/wp-content/uploads/sites/16/Guide-autosoins-pour-la-gestion-du-stress.pdf, p. 73
            <br>44. A. Sanchez-Villegas, E. Toledo, J. De Irala, M. Ruiz-Canela, J. Pla-Vidal, M.A. Martinez-Gonzalez, “Fast-food and commercial baked goods consumption and the risk of depression”, Public Health Depression, 2021: https://pubmed.ncbi.nlm.nih.gov/21835082/ Michel Cymes, Votre santé au travail, on s’en parle ? op. cit., p. 80
            <br>45. https://www.anses.fr/fr/system/files/NUT2009sa0099Ra.pdf, p. 57
            <br>46. https://www.efsa.europa.eu/sites/default/files/corporate_publications/files/efsaexplainscaffeine150527fr.pdf
            <br>47. https://www.axaprevention.fr/intox-detox-eau-pendant-repas
            <br>48. Pour aller plus loin : Giulia Elders, Le Charme discret de l’intestin, éd. Actes Sud
            <br>49. https://www.doctissimo.fr/sante/atlas-corps-humain/question-corps-humain/intestin-deuxieme-cerveau
            <br>50. https://www.copmed.fr/fr/content/69-lhyperpermeabilite-intestinale-source-de-nombreuses-pathologies; https://www.santemagazine.fr/sante/maladies/maladies-appareil-digestif/12-signes-qui-indiqueraient-un-intestin-permeable-336981
        </p>
     </div>
    <div>
        <h1>Mon activité physique</h1>
        <p>
            51. https://www.belgiqueenbonnesante.be/fr/etat-de-sante/determinants-de-sante
            <br>52. Dr Michel Cymes, Votre santé au travail, on s’en parle ?, op. cit., p. 42
            <br>53. https://www.cchst.ca/oshanswers/psychosocial/walking.html et les références citées
            <br>54. Pascale d’Erm, Natura. Pourquoi la nature nous soigne... et nous rend plus heureux, éd. Les Liens qui libèrent, 2019, p. 16
            <br>55. Pascale d’Erm, op. cit., p. 59
            <br>56. https://emploi.belgique.be/sites/default/files/content/publications/FR/TMS-BrochureGenerale.pdf
            <br>57. https://www.opinion-way.com/fr/sondage-d-opinion/sondages-publies/opinionway-pour-asnav-barometre-de-la-sante-visuelle-avril-2019/viewdocument/2147.html Francisca Joly Gomez, gastro-entérologue, professeure en nutrition à l'université Paris-Diderot et auteure de l’ouvrage L’Intestin, notre deuxième cerveau, éd. Poche Marabout, 2016
            <br>58. Hortense Servais, Voir la Vie. Guérir des troubles oculaires en changeant le regard que l’on porte sur soi-même, les autres et la vie, 2009. Artdevoir-asso.fr
        </p>
    </div>
    <div>
        <h1>Mon activité physique</h1>
        <p>
            59. https://www.santepubliquefrance.fr/etudes-et-enquetes/coviprev-une-enquete-pour-suivre-l-evolution-des-comportements-et-de-la-sante-mentale-pendant-l-epidemie-de-covid- 19#block-260858
            <br>60. Florence Pérès, op. cit., p. 122
            <br>61. Caroline Cuny, citée dans Michel Cymes, Votre santé au travail, on s’en parle ? op. cit., p. 134
            <br>62. Anne de Pomereu, À la reconquête de l’attention, éd. J.-C. Lattès, 2021, p. 193
            <br>63. Francis Eustache, « Ne rien faire est vital pour la santé » : https://www.youtube.com/watch?v=566kRI-y3Uw&t=5s
            <br>64. https://www.santemagazine.fr/psycho-sexo/psycho/est-ce-que-le-fait-de-penser-brule-des-calories-334007
            <br>65. Michel Cymes, Votre cerveau, op.cit., p. 49
            <br>66. Michel Cymes, Votre cerveau, op. cit., p. 193
            <br>67. Dr Steven Laureys, La Méditation, c’est bon pour le cerveau, éd. Odile Jacob, 2019, p.
            <br>50
            <br>68. Dr Steven Laureys, op. cit, p. 61
            <br>69. Anne de Pomereu, op. cit., p. 291
            <br>70. Matt Killingsworth, “Does Mind-Wandering Make You Unhappy ?”, Greater Good Magazine, Science-Based Insights for a Meaningful Life, 2013, cite dans Anne de Pomereu, op.cit., p. 260 et 261
            <br>71. Jean-Philippe Lachaux, L’Attention, ça s’apprend, éd. MDI, 2020, p. 10
            <br>72. Caroline Cuny, citée dans Michel Cymes, Votre santé au travail, on s’en parle ?, op. cit., p. 134. Anne de Pomereu, op. cit., p. 47
            <br>73. Gloria Mark, Daniela Gudith and Ulrich Klocke, The cost of interrupted work: more speed and stress : https://www.ics.uci.edu/~gmark/chi08-mark.pdf
            <br>74. https://www.uu.nl/onderwijs/onderwijsadvies-training/scholing/hoger-onderwijs/werken-aan-academische-vaardigheden/tips-voor-studenten/uit-het-oog-uit-het-hoofd-studeren-zonder-je-smartphone-in-de-buurt
            <br>75. https://www.santepubliquefrance.fr/etudes-et-enquetes/coviprev-une-enquete-pour-suivre-l-evolution-des-comportements-et-de-la-sante-mentale-pendant-l-epidemie-de-covid-19#block-260858
            <br>76. Florence Pérès, op.cit., p. 16-17
            <br>77. Ibid, p. 71 et 72
            <br>78. https://www.uu.nl/onderwijs/onderwijsadvies-training/scholing/hoger-onderwijs/werken-aan-academische-vaardigheden/tips-voor-studenten/uit-het-oog-uit-het-hoofd-studeren- zonder-je-smartphone-in-de-buurt
        </p>
    </div>
    <div>
        <h1>Mon temps de récupération</h1>
        <p>
            79. Tal Ben-Shahar, Stress and wellbeing case study : https://www.youtube.com/watch?v=DEJ1zTL-qN4
        </p>
    </div>
    <div>
        <h1>Mon petit check-up</h1>
        <p>
            <br>80. https://www.revmed.ch/revue-medicale-suisse/2011/revue-medicale-suisse-319/vitamine-d-actualite-et-recommandations
            <br>81. https://www.lalibre.be/planete/sante/2021/10/11/lalimentation-joue-t-elle-un-role-dans-la-gravite-du-coronavirus-des-chercheurs-belges-ont-fait-une-decouverte-2YKVI5IJTNEJVEEJJNVCTNJCYU/
        </p>
    </div>
    <div>
        <h1>Le bonheur est dans le pré</h1>
        <p>
            82. Shawn Achor, Comment devenir un optimiste contagieux, cité dans Michel Cymes, Votre santé au travail, on s’en parle ? op. cit, p. 19
        </p>
    </div>
    <div>
        <h1>L'organisation de mon travail</h1>
        <p>
            83. Sondage Bloom at Work, cité par Michel Cymes, Votre santé au travail, on s’en parle ? op. cit., p. 100
            <br>84. https://www.cadreo.com/actualites/dt-6-chiffres-a-connaitre-sur-les-reunions
            <br>85. Pratique décrite sur le blog www.qualitystreet.fr de Jean-Claude Grosjean et issue du Guide de survie aux réunions. 40 techniques pour transformer vos réunions en moments fun et productifs de Sacha Lopez, David Lemesle et Marc Bourguignon, éd. Pearson France, 2016, p. 139.
            <br>86. https://www.arobase.org/actu/chiffres-email.htm https://www.radicati.com/wp/wp-content/uploads/2015/03/Email-Statistics-Report-2015-2019-Executive-Summary.pdf ;
        </p>
    </div>
    <div>
        <h1>Ma boîte à outils</h1>
        <p>
            87. Thomas d’Ansembourg, Cessez d’être gentil, soyez vrai !, édition illustrée par Alexis Nouailhat, éd. de l’Homme, 2014, p. 74 ; Thierry Janssen, La Posture juste, éd. L’Iconoclaste, 2020, p. 159
            <br>88. Dr David Brun, Feeling good, https://feelinggood.com
            <br>89. Rosette Poletti et Barbara Dobbs, L’Estime de soi, éd. Jouvence, 1998, .p 65
            <br>90. Tal Ben-Shahar, Les 5 Clés du bonheur, éd. Robert Laffont, 2021, p. 194 et 196. Cf. la théorie de l’effet rebond (ou effet ironique) de Daniel Wegner, combinée à la théorie de l’intention paradoxale de Viktor Frankl.
            <br>91. Axel Lattuada & Fabrice De Boni, Et tout le monde s’en fout #3 – Les émotions : https://www.youtube.com/watch?v=_DakEvdZWLk
            <br>92. https://www.camh.ca/fr/info-sante/index-sur-la-sante-mentale-et-la-dependance/les-antidepresseurs
            <br>93. Axel Lattuada & Fabrice De Boni, Et tout le monde s’en fout #3 – Les émotions : https://www.youtube.com/watch?v=_DakEvdZWLk
            <br>94. Dr Henri Grosgogeat, La Méthode acide-base, éd. Odile Jacob poches, 2009, p. 121 95. https://medfam.umontreal.ca/wp-content/uploads/sites/16/Guide-autosoins-pour-la-gestion-du-stress.pdf, p. 73
            <br>96. Dr Michel Cymes, Votre cerveau, op. cit., p. 173
            <br>97. Axel Lattuada & Fabrice De Boni, Et tout le monde s’en fout #3 – Les émotions : https://www.youtube.com/watch?v=_DakEvdZWLk 98. Dr Michel Cymes, Votre cerveau, op. cit., p. 188
        </p>
    </div>
    <div>
        <h1>Mon télétravail réussi</h1>
        <p>
            99. https://newsroom.malakoffhumanis.com/actualites/barometre-annuel-teletravail-2021-de-malakoff-humanis-db57-63a59.html https://www.oberlo.fr/blog/travail-a-distance https://www.lesechos.fr/politique-societe/societe/covid-la-detresse-psychologique-des- salaries-reste-preoccupante-1356688 https://www.acerta.be/fr/a-propos-dacerta/dans-la-presse/quatre-belges-sur-dix-ne-peuvent- pas-encore-teletravailler-aujourdhui.
            <br>100. https://www.lalibre.be/economie/conjoncture/2022/02/14/seuls-3-des-employes-dans-le-monde-veulent-retourner-au-bureau-a-plein-temps-UFDDJYVQRZAI7FIC46ABO5H3OE/ 101. Pascale d’Erm, op.cit., p. 59
            <br>102. https://www.mensura.be/fr/blog/comment-organiser-teletravail-conseils-pour-un-bon-cadre-de-travail
            <br>103. https://www.mensura.be/uploads/media/59130bd777e72/fr-travailler-avec-laptop-tablette-dec2016.pdf
            <br>104. Dr Michel Cymes, Votre cerveau, éd. Le Livre de poche, 2017, p. 87
            <br>105. https://journals.ashs.org/horttech/view/journals/horttech/30/1/article-p55.xml
        </p>
    </div>
    <div>
        <h1>Les signaux d'alarmes</h1>
        <p>
            106. Axel Lattuada & Fabrice De Boni, Et tout le monde s’en fout #68 – Les besoins : https://www.youtube.com/watch?v=Kh5Wqit84Vk
        </p>
    </div>
    </article>
    <footer>
        <h1>B. BIBLIOGRAPHIE</h1>
        <p>
            ANSEMBOURG (D’) Thomas, Cessez d’être gentil, soyez vrai ! éd de l’Homme, 2004, ou l’édition illustrée par Alexis Nouailhat, éd. de l’Homme, 2014
            <br>ASSENHEIM Cathy, Mon cerveau est hyper. Haut potentiel & hypersensibilité, éd. De Boeck Supérieur, 2020
            <br>BATARD Gwenaëlle, L’Ayurveda sourire. Quand la joie du cœur est la santé du corps, éd. Marie Claire, 2019
            <br>BEN-SHAHAR Tal, Les 5 Clés du bonheur, éd. Robert Laffont, 2021
            <br>BOURGUIGNON Patricia et VAN VOLDORP Pierre, Nutrithérapie et Immunité, Union des nutrithérapeutes francophones, 2020
            <br>CARR Allen, La Méthode simple pour en finir avec la cigarette, éd. Pocket, 2004 et La Méthode simple pour maîtriser sa consommation d’alcool, éd. Pocket, 2019.
            <br>CHAPON Julie et BERTHOU Anthony, YUKA - Le Guide de l’alimentation saine, éd. Marabout, 2020
            <br>CYMES Michel avec la collaboration de Patrice Romedenne, Votre cerveau, éd. Le Livre de poche, 2017   
            <br>CYMES Michel avec la collaboration de Julie Martory, Votre santé au travail, on s’en parle ? éd. Solar, 2021
            <br>DEHAENE Stanislas, Face à face avec son cerveau, éd. Odile Jacob, 2021
            <br>DE POMEREU Anne, À la reconquête de l’attention, éd. J.-C. Lattès, 2021
            <br>DE SURANY Caroline et LILLA, Cultiver le bonheur pour les nuls en BD, éd. Delcourt et First, 2017
            <br>ENDERS Giulia, Le Charme discret de l’intestin, éd. Actes Sud, 2015
            <br>ERM (D’) Pascale, Natura. Pourquoi la nature nous soigne... et nous rend plus heureux, éd. Les Liens qui libèrent, 2019
            <br>EVERARD Anne, Guide du burn-out. Comment l’éviter, comment en sortir, éd. Albin Michel, 2017 FELBER Ulli, Les Bains de forêt, Shinrin Yoku. Un guide de connexion et de guérison par la nature, éd. Macro, 2019
            <br>FERRON Nathalie et LANGEVIN Ricarda, Yoga et Ayurvéda, éd. Leduc, 2021
            <br>FESTY Danièle, Je m’initie aux huiles essentielles, éd. Leduc, 2017
            <br>GROSGOGEAT Hervé, La Méthode acide-base. Perdre du poids, ralentir le vieillissement, prévenir les maladies, éd. Odile Jacob poches, 2009
            <br>JANSSEN Thierry, Confidences d’un homme en quête de cohérence, éd. Pocket, 2014 JANSSEN Thierry, La Posture juste, éd. L’Iconoclaste, 2020
            <br>JOLY GOMEZ Francisca, L’Intestin, notre deuxième cerveau, éd. Poche Marabout, 2014 LACHAUX Jean-Philippe, L’Attention, ça s’apprend !, éd. MDI, 2020
            <br>LANGEVIN Ricarda, Mes petites recettes magiques ayurvédiques, éd. Leduc, 2022 LAUREYS Steven, La Méditation, c’est bon pour le cerveau, éd. Odile Jacob, 2019 LELOUP Jean-Yves, Un art de vitre et d’aimer par temps de catastrophe, éd. Points, 2020 LEMKE Bettina, Le Livre de l’ikigai. Le secret du bonheur, éd. J’ai Lu, 2019
            <br>MÉAN Dominique, Devenez l’acteur de votre sommeil, Genèse éd., 2018
            <br>MERET Anne-Claire et NARBONI Anne-Marie, La Naturopathie pour les nuls, éd. First, 2016 MORIN Charles M., Vaincre les ennemis du sommeil, éd. de l’Homme, 2021
            <br>ORBAN Thomas et LIÉVIN Vincent, Alcool : ce qu’on ne vous a jamais dit, éd. Mardaga, 2022. PERNET ÉMILIE, Le Petit Livre du lâcher-prise. Recentrez-vous sur l’essentiel, éd. First, 2018 PHILIPPON Bérengère, Je réussis ma détox sucre, éd. Larousse, 2021
            <br>POLETTI Rosette et DOBBS Barbara, L’Estime de soi, éd. Jouvence, 1998
            <br>RAQUIN Bernard, La PNL au quotidien, éd. Jouvence, 2004
            <br>ROBACHE Maxime, Mettre en place & manager le télétravail, éd. Eyrolles, 2020
            <br>RUIZ Don Miguel, Les Quatre Accords toltèques. La voie de la liberté personnelle, éd. Poches Jouvence, 2016
            <br>SALMAN Frédéric, Le Meilleur Médicament c’est vous !, éd. Le Livre de Poche, 2016 SERON Xavier et Éléonore, Devenez l’acteur de votre mémoire, éd. Genèse, 2021
            <br>SERVAIS Hortense, Voir la Vie. Guérir les troubles oculaires en changeant le regard que l’on porte sur soi-même, les autres, la vie, 2009
            <br>TROUCHAUD Marie-Jeanne, La Communication sans violence, éd. Eyrolles, 2019
            <br>WALKER Matthew, Pourquoi nous dormons. Ce que la science nous révèle pour mieux dormir, éd. Pocket, 2019
        <p>
        <figure><img src="/img/front.jpg" alt="image-cover-livre-boostez"></img></figure>
    </footer>
</indexPage>
{% endblock %}
