{% extends 'base.html.twig' %}

{% block title %}Boostez{% endblock %}

{% block body %}
<section class="boostez">
    <header>
        <figure><img src="{{ asset('img/helicopter.jpg') }}" alt="illustration-helicopter-taking-flight"></figure>
        <div>
            <h1>Boostez</h1>
            <p>
                L’objectif de « Boostez ! » est de vous redonner une <span class="blue600">vue d’ensemble</span>
                sur ce qui compte aujourd’hui <span class="blue600">pour être en forme</span> dans son corps,
                dans sa tête et performer selon ses objectifs.
                <br>
                Vous y trouverez de <span class="blue600">nombreux trucs et astuces</span>, ainsi qu’une méthode pour vous mettre en mouvement et tenir dans la durée
            </p>
        </div>
    </header>
    <section>
        <header>
            <h1>La méthode :</h1>
            <h2>Picorez dans la <span>table des matières</span> ci-dessous et faites votre propre plan d’action individuel « Boostez ! ».</h2>
            <div>BOUTON</div>
        </header>
        <figure><img src="{{ asset('img/tablematiere.png') }}" alt="illustration-helicopter-taking-flight"></figure>

        {# Picture here with colum flex section  #}
    </section>
    <article>
        <h1>Vous êtes une entreprise ou une organisation ?</h1>
        <p> 
            Le livre peut être lu par tous, même si il a été particulièrement conçu pour les travailleurs de tous secteurs et de toutes fonctions.
            Les patrons et les DRH peuvent l’acquérir pour leur personnel dans le cadre de leurs actions en faveur du bien-être au travail.
            Ils peuvent en outre choisir de le personnaliser avec le mot du patron et les coordonnées des personnes de contact pour le bien-être au travail.
        </p>
        <a href="{{ path('app_redirect') }}">Contacez-nous</a>
    </article>
</section>
{% endblock %}
