{% extends 'base.html.twig' %}

{% block title %}Conférences{% endblock %}

{% block body %}
<section class="conferences">
    <section class="confEntreprise">
        <header>
            <div>
                <h1>Pour les entreprises</h1>
                <h2>Découvrez nos conférences et ateliers</h2>
            </div>
            <figure><img src="{{ asset('img/cerveau.gif') }}" alt="illustration-helicopter-taking-flight"></figure>
        </header>
        <article>
            <h1>Conférences</h1>
            <section>
                <a>Boostez</a>
                <a>Boostez</a>
                <a>Boostez</a>
                <a>Boostez</a>
            </section>
            <h2>Ateliers</h2>
            <section>
                <a>Boostez</a>
                <a>Boostez</a>
                <a>Boostez</a><a>Boostez</a><a>Boostez</a><a>Boostez</a>
                <a>Boostez</a>
            </section>
        </article>
    </section>
</section>
{% endblock %}
