{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/error.css') }}">
{% endblock %}


{% set urlLang = app.request.pathInfo|split('/') %}

{% if 'NL' in urlLang[1] %}
    {% set locale = 'NL' %}
{% elseif 'EN' in urlLang[1] %}
    {% set locale = 'EN' %}
{% else %}
    {% set locale = 'FR' %}
{% endif %}
{% block title %}{% trans into locale %} error.notfound.title {% endtrans %}{% endblock %}

{% block body %}

    <section class="bundleTwig">
        <div class="img">
            <img src="{{ asset('/img/front.jpeg') }}" alt="image-cover-livre-boostez">
        </div>

        <div class="error">
            <h1 class="errorTitle">{% trans into locale %} error.notfound.title {% endtrans %}</h1>
            <h5 class="errorText">{% trans into locale %} error.notfound.message {% endtrans %}</h5>
        </div>

    </section>


{% endblock %}